{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ form_start(form, {'action': path('api_login_check'), 'attr': {'class': 'login'} }) }}
        {{ form_errors(form.username) }}
        <div>
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        {{ form_errors(form.password) }}
        <div>
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let formSelector = 'form[name="login"]';
        let loader = '<p>Loading...</p>';
        let fail = '<p>Bad credentials...</p>';
        let token = localStorage.getItem('token');
        let get = function (url) {
            if (token === null) {
                console.error('Authentication needed ! Please login')
            }
            $.ajax({
                url: url,
                type: "GET",
                beforeSend: function (xhr) {
                    $('#app').html(loader);
                    xhr.setRequestHeader('Authorization', token);
                    console.log('Loading', url);
                },
                error: function (response) {
                    console.error('Failed to get /');
                    console.log('Error', response);
                    $('#app').html(fail);
                },
                success: function (response) {
                    // window.location.hash = '#' + url;
                    $('#app').html(token);
                }
            });
        };
        let login = function (username, password) {
            let auth = {
                'username': username,
                'password': password
            };
            console.log(auth);
            $('#app').html(loader);
            console.log('Try to login...');
            $.ajax({
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '/api/login_check',
                data: JSON.stringify(auth),
                success: function (response) {
                    console.info('Login success !');
                    console.info(response);
                    token = response.token;
                    localStorage.setItem('token', response.token);
                    Cookies.remove('token');
                    Cookies.set('token', 'Bearer ' + response.token, {expires: 7, path: '/'});
                    $('#app').html(token);
                },
                error: function (response) {
                    console.error('Failed to login');
                    console.log('Error', response);
                    $('#app').html(response.statusText);
                },
            });
        };
        $(formSelector).on('submit', function (e) {
            e.preventDefault();
            let username = $('#login_username').val();
            let password = $('#login_password').val();
            login(username, password);
        });
        if (token !== null) {
            $('#app').html(token);
        }
    </script>
{% endblock %}